.header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(to right, $header-gradient-from 20%, $header-gradient-to 100%);
  overflow: hidden;

  @media (min-width: $screen-sm-min) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: $screen-lg-min) {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -20%;
    right: -20%;
    bottom: -20%;
    left: -20%;
    z-index: 1;
    background-image: url("/images/header-bg.svg");
    background-position: center center;
    background-size: cover;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

.header-logo,
.header-wordmark {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.header-logo {
  @media (max-width: $screen-xs-max) {
    width: 100px;
  }
}

.header-wordmark {
  margin-top: 10px;

  @media (min-width: $screen-sm-min) {
    margin-top: 20px;
  }

  @media (max-width: $screen-xs-max) {
    width: 130px;
  }

  .gitlab-text {
    fill: $wordmark-text-color;
  }

  .pages-text {
    fill: $wordmark-secondary-text-color;
  }
}
